name: Build Pinpoint

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    container:
      image: almalinux:9
      options: --privileged

    steps:
      - uses: cvmfs-contrib/github-action-cvmfs@v4
      
      - name: Load LCG environment
        run: |
          source /cvmfs/sft.cern.ch/lcg/views/LCG_107/x86_64-el9-gcc11-opt/setup.sh
          which cmake
          which g++

      - name: Build project
        run: |
          source /cvmfs/sft.cern.ch/lcg/views/LCG_107/x86_64-el9-gcc11-opt/setup.sh
          mkdir build && cd build
          cmake ..
          make -j$(nproc)

      - name: Upload pinpoint executable
        uses: actions/upload-artifact@v4
        with:
          name: pinpoint
          path: build/pinpoint
