name: CI - Build Check

on:
  push:
    # branches: [ bewilson/ci-cd/ ]
  pull_request:
    # branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: benw22022/faser:el9-cvmfs
      options: '--privileged --user root'

    steps:
    - name: Start CVMFS
      run: | 
        sudo mount -t cvmfs atlas.cern.ch /cvmfs/atlas.cern.ch
        sudo mount -t cvmfs atlas-condb.cern.ch /cvmfs/atlas-condb.cern.ch
        sudo mount -t cvmfs atlas-nightlies.cern.ch /cvmfs/atlas-nightlies.cern.ch
        sudo mount -t cvmfs grid.cern.ch /cvmfs/grid.cern.ch
        sudo mount -t cvmfs sft-nightlies.cern.ch /cvmfs/sft-nightlies.cern.ch
        sudo mount -t cvmfs sft.cern.ch /cvmfs/sft.cern.ch
        sudo mount -t cvmfs unpacked.cern.ch /cvmfs/unpacked.cern.ch
        sudo mount -t cvmfs geant4.cern.ch /cvmfs/geant4.cern.ch

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Source LCG environment
      run: |
        source /cvmfs/sft.cern.ch/lcg/views/LCG_107/x86_64-el9-gcc11-opt/setup.sh

    - name: Configure and build
      run: |
        mkdir -p build
        cd build
        cmake ..
        make -j$(nproc)
